@import '../../style/global.scss';

.root {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;

  .container_info {
    display: flex;
    align-items: center;

    .img_container {
      max-width: 2.75rem;
      margin-right: 0.75rem;

      img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }

      .img_placeholder {
        width: 2.75rem;
        height: 2.75rem;
        background-color: #efefef;
        border-radius: 50%;
      }
    }

    h3 {
      font-weight: normal;
    }

    small {
      color: theme(subtext);
    }
  }

  button {
    background-color: theme(primary);
    padding: 0.5rem 2rem;
    border-radius: 100px;
    border: 2px solid theme(primary);
    cursor: pointer;
    transition: all 200ms;
    color: #fff;
  }
  button:hover {
    background-color: transparent;
    color: theme(primary);
  }
}
