@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$theme: (
  primary: #4267b2,
  subtext: #999,
);

@function theme($key) {
  @if map-has-key($theme, $key) {
    @return map-get($theme, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

$breakpoints: (
  sm: 600px,
  md: 960px,
  lg: 1260px,
  xl: 1920px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1260px;
}
