@import '../../style/global.scss';

.root {
  padding: 2rem;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-left: 3px solid theme(subtext);
  transition: 150ms;

  @include respond-to(sm) {
    width: 100%;
  }

  .top_section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      font-weight: 400;
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }

    button {
      outline: none;
      border: none;
      cursor: pointer;
      background: transparent;
      opacity: 0;
      transition: opacity 150ms;

      @include respond-to(sm) {
        opacity: 1 !important;
      }
    }

    button:disabled {
      cursor: initial;

      > svg > *:last-child {
        fill: theme(subtext);
      }
    }
  }

  .bottom_section {
    display: flex;

    .date_container {
      margin-right: 2.5rem;
    }

    .time_container {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;

      .event_title {
        margin-left: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        small {
          font-weight: 300;
          color: theme(subtext);
        }

        span {
          font-weight: 400;
        }
      }
    }
  }
}

.root:hover {
  border-left-color: theme(primary);
}

.root:hover > .top_section > button {
  opacity: 1;
}
