@import '../../style/global.scss';

.title {
  margin: 3rem 0 1.5rem 0;
  position: relative;
  font-weight: 300;
  font-size: 1.4rem;

  &:after {
    content: '';
    width: 35px;
    height: 10px;
    border-radius: 100px;
    margin-top: 0.25rem;
    background-color: theme(primary);
    position: relative;
    display: block;
  }
}
